h2 {
    text-align: center;
}
#lista-de-tarefas {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 15vh;

    .botoes {
        display: flex;
        justify-content: space-between;
    }
}
h1{
text-align: center;
}





#Topo{
text-align: center;
margin-top: 40px;
font-size: 25px;

}




header {
    height: 40vh;
    display: flex;
    justify-content: top; 
    align-items: right;
    
}

header::before{
    content: "";
    background-color: #564dcc;
    background-size: contain;
    height: 16vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: -10;
    text-align: right;
    
   

}
#cabeca-txt{
margin-top: 15px;
margin-left: 128vh;



}

